@use "@/styles/foundation/variables" as *;
.sidebar {
  padding: .5rem;
  width: 100%;
  background-color: var(--bg);
  border-radius: .5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  @include respond-lg{
    padding: 2rem .5rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}


